.counter {
  height: 500px;
  width: 500px;
  background-color: darkblue;
  display: grid;
  place-content: center;
  font-size: 100px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  float: right;
}

img {
  height: 500px;
}

button {
  display: grid;
  font-size: 25px;
  padding: 25px;
  background-color: rgb(73, 221, 209);
  border-radius: 10px;
  border: none;
  transition: all 0.5s;
}

button:hover {
  transform: scale(1.05);
}

body {
  background-color: darkorange;
}
h1 {
  font-size: 100px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  display: grid;
}

.container {
  display: flex;
  justify-content: space-around;
}

.cats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cats button {
  margin-top: 20px;
}
